<div class="container-fluid" id="chat">
    <div class="text-center">
        <h1>Hello {{name}}</h1>
    </div>
    <div id="messages" class="row justify-content-center" *ngFor="let message of messages">
        <div class="card card-message">
            <p id="nameAndTime">{{ message.name }} {{ message.time }}</p>
            <div class="message-text">{{ message.text }}</div>
        </div>
    </div>
    <div class="row justify-content-center" id="sendBar">
        <input [(ngModel)]="currentMessage" id="messageInput" type="text">
        <button (click)="this.sendMessage()" id="sendButton">Send</button>
    </div>
</div>