<div class="container-fluid" id="chat">
    <div id="messages" class="row justify-content-center" *ngFor="let message of messages">
        <div class="card card-message">
            <p id="nameAndTime">{{ message.name }} {{ message.time }}</p>
            <div class="message-text">{{ message.text }}</div>
        </div>
    </div>
    <div class="row justify-content-center" id="sendBar">
        <input (input)="updateCurrentMessage($event)" value="{{this.currentMessage}}" id="messageInput" type="text">
        <button id="sendButton" (click)="handleSubmitNewMessage()">Send</button>
    </div>
</div>