<div class="container-fluid text-center" id="chat">
    <div id="messages">
        <div id="message" *ngFor="let message of messages">
            <h6>{{ message.name }} {{ message.time }}</h6>
            <div class="card card-message">
                <div class="message-text">{{ message.text }}</div>
            </div>
        </div>
    </div>
    <div>
        <input (input)="updateCurrentMessage($event)" value="{{this.currentMessage}}" id="message" type="text">
        <button (click)="handleSubmitNewMessage()">Send</button>
    </div>
</div>