<div class="container-fluid" id="login">
    <h1 class="text-center" id="loginTitle">Welcome To ChatApp!</h1>
    <div class="card mx-auto" id="loginCard">
        <form class="text-center">
            <div class="form-group text-center">
                <label for="username">please enter your name</label>
                <input type="text"
                id="username" 
                class="form-control" 
                name="username"
                ngModel
                #input
                placeholder="enter name">
            </div>    
            <button (click)="this.onSubmit(input)" class="btn btn-success" type="submit">start chatting!</button>
        </form>
    </div>
</div>